<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WXJR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D95FD6D51D7580CF009CC8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95FD6EB1D7580CF009CC8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95FD6F61D7580CF009CC8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
